In [1067]:
import pandas as pd 
import numpy as np
import matplotlib as plt 

df_engagement = pd.read_csv('takehome_user_engagement.csv', encoding='latin-1')
df_users = pd.read_csv('takehome_users.csv', encoding='latin-1')

In [1068]:
df_engagement.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [1069]:
df_users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [1070]:
df_engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null object
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

In [1071]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
object_id                     12000 non-null int64
creation_time                 12000 non-null object
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null object
last_session_creation_time    8823 non-null float64
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null int64
invited_by_user_id            6417 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB

In [1072]:
df_engagement.time_stamp = pd.to_datetime(df_engagement.time_stamp)
df_engagement.index = df_engagement.time_stamp
df_engagement.drop(labels='time_stamp',axis=1,inplace=True)

In [1073]:
# Group by user_id with a 1 week period 
df_grp = df_engagement.groupby([pd.Grouper(freq = 'W'), 'user_id']).sum()

In [1074]:
# Make a new column called "Active" and show users that have 3 visits or more in a week as "True" and less than 3 visits as "False"
adopted = df_grp

Active = []

for x in adopted.visited:
    if x >= 3: 
       Active.append('True') 
    elif x < 3: 
       Active.append('False') 
adopted['Active'] = Active

In [1075]:
# Reset index
adopted = adopted.reset_index()
adopted.head(20)

   time_stamp  user_id  visited Active
0  2012-06-03      563        1  False
1  2012-06-03     1693        1  False
2  2012-06-03     1995        1  False
3  2012-06-03     2120        1  False
4  2012-06-03     2136        1  False
5  2012-06-03     2494        1  False
6  2012-06-03     2568        1  False
7  2012-06-03     3428        1  False
8  2012-06-03     3514        1  False
9  2012-06-03     3721        1  False
10 2012-06-03     3861        1  False
11 2012-06-03     4584        1  False
12 2012-06-03     5694        1  False
13 2012-06-03     6047        1  False
14 2012-06-03     6102        1  False
15 2012-06-03     7170        1  False
16 2012-06-03     7286        1  False
17 2012-06-03     7991        1  False
18 2012-06-03     8068        1  False
19 2012-06-03     8991        1  False

In [1076]:
# join both tables 
df_users_join = df_users.merge(adopted, how = 'inner', left_on = 'object_id', right_on = 'user_id')

In [1077]:
# drop all nan values
df_users_join.dropna()
df_users_join.head(20)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,user_id,visited,Active
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,2014-04-27,1,1,False
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-11-17,2,1,False
2,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-01,2,1,False
3,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-15,2,1,False
4,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-29,2,1,False
5,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2014-01-05,2,1,False
6,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2014-01-12,2,1,False
7,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2014-02-09,2,3,True
8,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2014-02-16,2,2,False
9,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2014-03-09,2,1,False
10,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2014-03-16,2,1,False
11,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2014-04-06,2,1,False
12,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,2013-03-24,3,1,False
13,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,2013-05-26,4,1,False
14,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,2013-01-27,5,1,False
15,6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0,2013-12-22,6,1,False
16,7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN,2012-12-23,7,1,False
17,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0,2013-01-20,10,1,False
18,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0,2013-01-27,10,1,False
19,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0,2013-02-03,10,1,False

In [1078]:
# Convert "Active" column into binary (0 and 1)
y_train = df_users_join['Active']
df_users_join['Active'] = y_train.replace(['False', 'True' ] , [0,1] )

In [1079]:
df_users_join.head(20)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,user_id,visited,Active
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,2014-04-27,1,1,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-11-17,2,1,0
2,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-01,2,1,0
3,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-15,2,1,0
4,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-29,2,1,0
5,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2014-01-05,2,1,0
6,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2014-01-12,2,1,0
7,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2014-02-09,2,3,1
8,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2014-02-16,2,2,0
9,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2014-03-09,2,1,0
10,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2014-03-16,2,1,0
11,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2014-04-06,2,1,0
12,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,2013-03-24,3,1,0
13,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,2013-05-26,4,1,0
14,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,2013-01-27,5,1,0
15,6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0,2013-12-22,6,1,0
16,7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN,2012-12-23,7,1,0
17,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0,2013-01-20,10,1,0
18,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0,2013-01-27,10,1,0
19,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0,2013-02-03,10,1,0

In [1080]:
matrix = df_users_join.corr()
matrix

,object_id,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,user_id,visited,Active
object_id,1.000000,-0.012238,-0.037141,-0.030930,-0.019628,0.109475,1.000000,-0.015135,-0.008874
last_session_creation_time,-0.012238,1.000000,0.003209,-0.000153,0.042726,0.006064,-0.012238,0.347676,0.346317
opted_in_to_mailing_list,-0.037141,0.003209,1.000000,0.490865,-0.035690,0.016196,-0.037141,-0.007020,-0.002539
enabled_for_marketing_drip,-0.030930,-0.000153,0.490865,1.000000,-0.030808,0.009419,-0.030930,-0.011882,-0.017222
org_id,-0.019628,0.042726,-0.035690,-0.030808,1.000000,-0.077483,-0.019628,0.047418,0.036665
invited_by_user_id,0.109475,0.006064,0.016196,0.009419,-0.077483,1.000000,0.109475,-0.004503,-0.004751
user_id,1.000000,-0.012238,-0.037141,-0.030930,-0.019628,0.109475,1.000000,-0.015135,-0.008874
visited,-0.015135,0.347676,-0.007020,-0.011882,0.047418,-0.004503,-0.015135,1.000000,0.842510
Active,-0.008874,0.346317,-0.002539,-0.017222,0.036665,-0.004751,-0.008874,0.842510,1.000000

In [1081]:
# Other than user_id, all of the columns dropped had a negative correlation towards the column "Active"
df_users_join = df_users_join.drop(['object_id', 'opted_in_to_mailing_list','enabled_for_marketing_drip', 'invited_by_user_id', 'time_stamp', 'creation_time'], axis=1)

In [1082]:
y = df_users_join['Active']
x = df_users_join.drop(['Active'], axis = 1)

In [1083]:
# Convert into dummy variables 
X = pd.get_dummies(x).reset_index(drop=True)

In [1084]:
# Split data into train and test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [1086]:
# Logistic Regression Model 
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
clf_lrm = LogisticRegression()
clf_lrm = clf_lrm.fit(X_train, y_train)

y_pred = clf_lrm.predict(X_test)
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

/Users/grannelpinto/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Accuracy: 0.5084290074117134
              precision    recall  f1-score   support

           0       0.51      1.00      0.67      6997
           1       0.00      0.00      0.00      6765

    accuracy                           0.51     13762
   macro avg       0.25      0.50      0.34     13762
weighted avg       0.26      0.51      0.34     13762

/Users/grannelpinto/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)